@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
}
.main {
  /* border: 2px solid red; */
  background-image: url("/assests/images/bg.jpg");
  background-repeat: no-repeat;
  /* background-size: cover; */
  height: 590px;
  background-size: max(1200px, 100vw);
  /* filter: brightness(0.3); */
  position: relative;
  /* display: flex; */
}
.main .overlay {
  /* height: 644px; */
  height: 100%;
  width: 100%;
  opacity: 0.69;
  position: absolute;
  top: 0;
  background-color: black;
}
nav {
  /* border: 2px solid yellowgreen; */
  max-width: 60vw;
  justify-content: space-between;
  margin: auto;
  display: flex;
  align-items: center;
  height: 100px;
}
nav img {
  color: red;
  /* width: 130px; */
  width: 150px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}
.btn {
  padding: 3px 8px;
  font-weight: 400;
  color: white;
  background-color: rgba(248, 243, 243, 0.021);
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
}
.btn-red-sm {
  background-color: red;
  color: white;
  border: none;
  /* padding: 30px; */
  padding: 5px 10px 5px 10px;
  font-weight: 500;
}
.hero-content {
  /* border: 2px solid purple; */
  font-family: "Martel Sans", sans-serif;
  height: calc(100% - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 23px;
  padding: 0 30px;
}
.hero-content> :nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}
.hero-content> :nth-child(2){
    font-size: 20px;
    text-align: center;
}
.hero-content> :nth-child(3){
    font-size: 18px;
    text-align: center;
}
.hero-buttons{
    /* border: 2px solid red; */
    display: flex;

}
.hero-buttons>input{
    /* padding: 7px 101px 8px 14px; */
    padding: 20px 200px 19px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    margin-right: 5px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}
.hero-buttons>input::placeholder{
  font-size: 15px;
  /* font-weight: 500; */
}
.btn-red-lg{
    background-color: red;
    color: white;
    padding: 13px 20px;
    /* margin-right: 55px; */
    /* gap: 20px; */
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
    border: none;
}
.line{
  height: 7px;
  background-color: rgb(46, 44, 44);
  position: relative;
  z-index: 20;
}

/* Second Section */

.second-section{
  display: flex;
  border: 2px solid red;
  width: 100%;
}
.second-section-left{
  border: 2px solid green;
  width: 50%;
}
.second-section-right{
  border: 2px solid green;
  width: 50%;
}
.second-section-right>img{
  position: relative;
  width: 555px;
  z-index: 10;
  overflow: hidden;
}
.second-section-right>video{
  position: absolute;
  width: 500px;
  /* height: 300px; */
  top: 670px;
  right: 30px;
}

/* kid-section */
.kid-section{
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.kid-section-img{
  border: 2px solid green;
  /* padding: 30px; */
  /* width: 50%; */
}
.kid-section-img>img{
  /* width: 70%;
  height: 100%; */
}
.kid-section-content{
  border: 2px solid green;
  color: #ffff;
  margin: auto;
}